* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 1128px;

  margin: 24px auto;

  align-items: center;
  gap: 24px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.9s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
